version: '3.8'

services:
  # 1. База данных
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 2. Casdoor
  casdoor:
    image: casbin/casdoor:latest
    restart: always
    # ВОЗВРАЩАЕМ ПОРТ БЕЗОПАСНО (только для localhost)
    ports:
      - "127.0.0.1:8000:8000" 
    entrypoint: /bin/sh -c './server --createDatabase=true'
    environment:
      driverName: postgres
      dataSourceName: "user=${DB_USER} password=${DB_PASSWORD} host=db port=5432 sslmode=disable dbname=${DB_NAME}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  # 3. Твое приложение
  app:
    build: ./app
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8081
    # ВОЗВРАЩАЕМ ПОРТ БЕЗОПАСНО
    ports:
      - "127.0.0.1:8081:8081"
    environment:
      DB_URL: postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      CASDOOR_CLIENT_ID: ${CASDOOR_CLIENT_ID}
      CASDOOR_CLIENT_SECRET: ${CASDOOR_CLIENT_SECRET}
      # ВАЖНО: Мы пробрасываем новые переменные для ссылок
      SITE_URL: ${SITE_URL}
      AUTH_URL: ${AUTH_URL}
      # --- ВОТ ОНА, НЕДОСТАЮЩАЯ СТРОКА ---
      CASDOOR_CERT_FILE: ${CASDOOR_CERT_FILE}
      # -----------------------------------
    depends_on:
      - casdoor
      - db
    volumes:
      - ./app:/app
    networks:
      - app_network

  # 4. Caddy (Швейцар)
  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - app_network

volumes:
  postgres_data:
  caddy_data:
  caddy_config:

networks:
  app_network:
    driver: bridge