name: Deploy to Selectel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # 1. Создаем файл .env из секрета (потому что его нет в Git)
      - name: Create .env file
        run: echo "${{ secrets.ENV_FILE }}" > .env

      # 2. Копируем файлы на сервер
      - name: Copy files via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "/opt/my-balance-service"

      # 3. Подключаемся по SSH и запусcкаем Docker
      - name: Remote Docker Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/my-balance-service
            # Останавливаем старое (на всякий случай) и запускаем новое
            docker compose down
            docker compose up -d --build
            # Чистим старые образы, чтобы место не кончилось
            docker image prune -f